/* doing this sacrifices backwards compatibility  with IE7, for cleaner markup */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.l-box {
  padding:0 0 1em 4em;
  /*border:1px solid blue;*/
}

.l-box > h2 {
  padding:1em 0 0 0;
  margin: 0;
}

body {
    line-height: 1.7em;
    color: #7f8c8d;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Lato', sans-serif;
}

p {
  font-size:90%;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}


.header{
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 0 1em 3em;
}

.header h1{
  padding-bottom:6px;
  margin-bottom:0;
  font-weight:normal;
  background: url(/images/product-science-logo-75x75.png) no-repeat;
  height: 80px;
  width: 100px;
  padding-left: 95px;
  padding-top:  10px;
}
.header p{
  margin: 0;
  padding: 0;
}

.header .pure-menu li{
  margin-left:2em;
  margin-right:2em;
  padding-top:2em
}

ul.pure-menu {
  float:right;

}


/* Header */


#hero {
  position:relative;
}
.tagline {
  position:absolute;
  top: 3.5em;
  left: 65%;
  width: 28em;
}

#hero h2{
  font-size: 1.7em;
  line-height: 1.7em;
  padding:0px;
  margin:0px;
  font-weight: normal;
  color: white;
  font-family: "Lato";
}
#hero h3{
  color: white;
  font-size: 1.2em;
  font-family: "Lato";
  font-style: italic;
  font-weight: lighter;
  padding:0;
  margin:0.5em 0 0 0;
}


/* Services */

.user-research p,
.development p,
.hosting p {
  width: 20em;
}

/* Team */

#team {
  background-color: #efefef;
}

.chris h3,
.joe h3,
.phillippa h3 {
  padding-left: 2em;
}


.chris p,
.joe p,
.phillippa p {
  width: 20em;
}


.profile-links li{
  list-style-type:none;
  /*display:inline-block;*/

}

figure.portrait{
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  overflow: hidden;
  margin-left:50px;
}

/* Companies We've worked with*/

#who-we-work-with h2{
  margin-bottom: 2em;
}


figure.client-logo {
  height: 150px;
}

figure.client-logo img {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

/* Contact */

#contact {
    background-color: #FFEC54;
}

#contact form .pure-g{
  margin-bottom:1em;
}
#contact form .name {
  /*margin-right:2em;*/
}
#contact form textarea {
  width:85%;
}

#contact h3{
  padding: 0;
  margin: 0 0 0.5em 0;
}

#contact .address h3 {
  padding: 0;
  margin: 0 0 0.5em 0;
}

#contact ul.city {
  margin-top:0;
  padding-top:0;
  padding-left:0

}
#contact ul.city li {
  list-style-type:none;
  color: #000000;
}
#contact ul.city li h4 {
  padding: 0 0 0.5em 0;
  margin: 0px;
}

.company-details p{
  color: #000000;
  margin-top: 0;
  margin-bottom: 0em;
}

/* Footer */

footer{
  background-color: #040401;
  padding: 0.5em 0 0.5em 5em;
}
