* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    line-height: 1.7em;
    color: #7f8c8d;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Lato', sans-serif;
}

p {
  font-size:90%;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.header{
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 0 1em 3em;
}

.header h1{
  padding-bottom:6px;
  margin-bottom:0;
}
.header p{
  margin: 0;
  padding: 0;
}


#team {
  background-color: #efefef;
}
#hero {
  /*background-color: #8BD0AA;*/
  background-image: url("https://www.amee.com/assets/company/top_background-4c985599c917db60e3ee9c2e788c3a8e.png");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  background-position: center bottom;
  min-height:300px
}
#hero h2{
  font-size: 2em;
  line-height: 1.7em;
  font-weight: normal;
  color: white;
  font-family: "Lato";
  width: 30em;
}

#contact{
    background-color: #FFEC54;

}

footer{
  background-color: #040401;
  padding: 1em 0 1em 5em;
}
