<!DOCTYPE html>
<html lang="en">
<title>Product Science</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/tachyons.min.css">
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<body class="w-100 sans-serif bg-white">

    {{ partial "header.html" }}

    <style>
        .f1, .f2, .f3, .f4, .f5, .f6, .f-headline, h1, h2, h3, h4, h5 {
            font-family:"Lato"
        }
        .bg-ps-yellow{
            background-color:#F5DF43
        }
        .clients li {
            
            /* min-width: 15rem; */
        }
        .clients img {
            max-height: 12rem;
            max-width:  15rem;
        }
    </style>

    <section class="bt bb pv3 pl5 pr5 bg-ps-yellow">
        <h1 class="f-headline-ns f1 lh-title measure black mt3 mb3">Build Better <br/>Digital Products.</h1>
    </section>

    <section class="pt3  pb0 pl5 pr5">

        <h2 class="f3 lh-title normal measure">You’ve worked hard to get a product out the door, to your users. Now you want to work in a more agile way, and grow a
        high performing team.</h2>
        
        <h2 class="f3 lh-title normal measure">If this sounds like you, I can help you and your product team be more effective in three ways:</h2>

    </section>

    <section class="pt0 pb2 pl5 pr5">

        <h3 class="f3 lh-title normal measure-wide">
            <a class="b mr1 bg-ps-yellow black dib pa1 grow" href="#skills-workshops">
                Skills based workshops:
            </a>
           Develop new skills, or sharpen existing ones with focussed workshops on a given technique
            <a class="f5 i dark-red" href="#skills-workshops">
                (more)
            </a>
        </h3>


        <h3 class="f3 lh-title normal measure-wide">
            <a class="b mr1 bg-ps-yellow black dib pa1 grow" href="#process-workshops">
                Process Workshops:
            </a>
            Build a shared picture of what your development process <em>really</em> looks like. Diagnose problems together, identify pain points and bottlenecks. Learn to fix them with your team.
            
            <a class="f5 i dark-red" href="#process-workshops">
                (more)
            </a>
        
        </h3>

        <h3 class="f3 lh-title normal measure-wide">
            <a class="b mr1 bg-ps-yellow black dib pa1  " href="#interim-generalist">
                Interim Generalist:
            </a>
            Fill gaps in your team’s capacity, until you have the talent in-house, or you know you need a specialist.
        
            <a class="f5 i dark-red" href="#interim-generalist">
                 (more)
            </a>
        </h3>
    </section>
    
    <section class="focussed-workshops pv4 pl5 pr5 bt" id="skills-workshops">

        <h2 class="f2 measure lh-title normal">
            <strong>Skills-focussed workshops:</strong>
            Get up to speed with skills-focussed workshops
        </h2>

        <h4 class="f3 measure-wide lh-title">For when you know there's a gap in your team's skills, and you want a workshop focussed around a particular technique</h4>

        <p class="f4 measure-wide normal lh-copy">Skills-focussed workshops give you the chance get confident using a specific technique to help solve a problem you have already identified, so you can start using it right away.</p>
        <p class="f4 measure-wide normal lh-copy">Your team gets to practice the technique, avoid common pitfalls, and learns how to operationalise it. It becomes part of your team's arsenal for solving problems in future.</p>

        <p class="f4 measure-wide normal lh-copy"><strong>Common activities include:</strong> writing effective user stories, lightweight technical documentation with the C4 model and architectural decision records, usability testing (remote and in-person), customer development interviews, user story mapping, and iteratively building personas.</p>

        <p class="f4 measure-wide normal lh-copy">
            <strong>What this looks like:</strong>
            These typically range from a half day to a day long, depending on the topic.</p>
        <p class="f4 measure-wide normal lh-copy">
            <strong>What you get after the workshop:</strong>
            You'll leave with set a concrete next steps for making this new technique part of your process, along with a set of cheatsheets as reminders of what we covered together in future.
        </p>

         <a 
            class="f4 grow ph3 pv3 mb2 b dib black bg-ps-yellow"
            href="https://docs.google.com/forms/d/e/1FAIpQLScbjYECgy_vQ5RiH6nxike2fH28svgmB3u0JANgGlUafMNjdQ/viewform" >
            Contact me about skills-focussed workshops
         </a>

    </section>

    <section class="process-workshops pv4 pl5 pr5 bt" id="process-workshops">
    
        <h2 class="f2 lh-title measure normal">
            <strong>Process mapping workshop:</strong>
            Visualise how you work with a process map, then identify pain points and bottlenecks. Learn to fix them together in your team.
        </h2>

        <h4 class="f3 measure-wide ">For when you're not sure what you need yet, and you want some help thinking through what your process <em>should</em> look like.</h4>

        <p class="f4 measure-wide normal lh-copy">You might be starting a new project, or it's been a while since you came up for air on an existing one, and you need the space to see why your current way of working isn't working for your team.

        <p class="f4 measure-wide normal lh-copy">Building a process map together creates a shared understanding in your team of your workflow, and helps you identify the most valuable places to improve - and how best to communicate this to other parts of the organisation you depend on.

        <p class="f4 measure-wide normal lh-copy"><strong>What this looks like: </strong>This typically is a day-long workshop, for 5-15 people, with a couple of days either side for preparation, and processing outputs from the day.</p>
            
        <p class="f4 measure-wide normal lh-copy">
            <strong>What you get after the workshop:</strong>
            Within the week of the workshop, I'll share a deck of findings and recommendations you can use, in your own presentations to peers in your organisation, as well as printable, editable high quality versions of the artefacts we create during the day.
            
        </p>
        
            <a 
            class="f4 grow ph3 pv3 mb2 b dib black bg-ps-yellow"
            href="https://docs.google.com/forms/d/e/1FAIpQLSdzNE6c4E46CbqAn3EmRCnHEinLE7EZ2rtqIPyhbmLTfvBR-A/viewform">
            Get in touch to find out more about a process mapping workshop
        </a>

    </section>

    <section class="find-your-bearing pv4 pl5 pr5 bt" id="interim-generalist">
    
        <h2 class="f2 lh-title measure normal">
            <strong>Interim Generalist:</strong>
             Fill gaps in your team’s capacity, until you have the talent in-house, or you need a specialist full time.
        </h2>
    
        <h4 class="f3 measure-wide lh-title">For when you need to deliver in an area new to your team, and need to hit the ground running.</h4>
    
        <p class="f4 measure-wide normal lh-copy">
            You might not need someone full-time to fill a gap in your team's skills, or you might have <em>almost made that perfect hire</em> to plug that gap, but still need to deliver something in the meantime.
        </p>
            
        <p class="f4 measure-wide normal lh-copy">
             I can help you deliver against your goals in the short term. I've worked as a product manager, a UX designer, user researcher, and I've been coding Django and Ruby on Rails applications professionally since 2009 and 2011 respectively.
            </p>
             
        <p class="f4 measure-wide normal lh-copy">
             I'm also comfortable building wireframes, service design blueprints, and Wardley maps, and know when it makes sense use them, and when other tools might be more appropriate.
        </p>

        <p class="f4 measure-wide normal lh-copy">
            <strong>What this looks like: </strong>
            you hire me in 5-day blocks, to join your team for a week at a time, we'll discuss a specific goal to deliver in that time.</p>

        <p class="f4 measure-wide normal lh-copy">
            I work best in a cross functional team, and you'll typically get the most value pairing me with someone in your team.
        </p>
        <p class="f4 measure-wide normal lh-copy">
             This so knowledge doesn't leave the team at the end, and so you can do the same kinds of work without me in future.
        </p>
    
        <a 
            class="f4 grow ph3 pv3 mb2 b dib black bg-ps-yellow"
            href="https://docs.google.com/forms/d/e/1FAIpQLSeji5cscJrtGoQTzFqTG835U8jlekYsW8scxS3fmmQPwTPEqA/viewform">
            Let's talk about working together   
        </a>


    </section>

    <section class="pv4 pl5 pr5 bt bg-light-gray" id="about">
        <h2 >About me, and Product Science</h2>

        <p class="f3 measure-wide normal lh-copy">
            I work through Product Science, my company.
            I'm based in Berlin, but open to travel inside Europe, and happy working remotely. You can find me on
            <a class="pa1 grow b dib black bg-ps-yellow"href="https://github.com/mrchrisadams/">github</a>, and
            <a class="pa1 grow b dib black bg-ps-yellow"href="linkedin.com/in/mrchrisadams/">linkedin</a>,
            <a class="pa1 grow b dib black bg-ps-yellow"href="https://twitter.com/mrchrisadams">twitter</a>.
        </p>

        <a href="" class="f4 grow ph3 pv3 mb2 b dib black bg-ps-yellow mr4">
            Read the Product Science blog on medium
        </a>
        <a href="" class="f4 grow ph3 pv3 mb2 b dib black bg-ps-yellow">
            Find out about Method, the Product Science newsletter
        </a>

    </section>
    
    <section class="pv4 pl5 pr5 bt bg-white" id="clients">

        <h3>Who I've worked with:</h3>

        <p class="f4 measure-wide normal lh-copy">
            I've worked with tiny companies, making paper prototypes and building proof of concepts to raise initial funding, through to huge organisations where internal politics can be as important to the success of a product as the features built into it.</p>
        <p class="f4 measure-wide normal lh-copy">
            Below is a selection of organisations I've worked with:
        </p>
        <ul class="flex flex-wrap pa0 dt clients items-center ">

            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/gla-logo.png">
                 <!-- <p>GLA</p> -->
            </li>
            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/dxw-logo.svg">
                <!-- <p>DXW</p> -->
            
            </li>
            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/westminster-university-logo.jpg">
                <!-- <p>University of Westminster</p> -->
            </li>

            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/mastodonc-logo.png" >
                <!-- <p>MastodonC</p> -->
            </li>
            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/loco2-logo.png" >
                <!-- <p>Loco2</p> -->
                </li>
            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/amee-logo.png">
                <!-- <p>AMEE</p> -->
            </li>
            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/redbull-logo.jpg">
                <!-- <p>Red Bull</p> -->
            </li>
            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/thermondo-logo.jpeg">
                <!-- <p>Thermondo</p> -->
            </li>
            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/roh-logo.png">
                <!-- <p>Royal Opera House</p> -->
            </li>
            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/erasys-logo.png">
                <!-- <p>ERASYS</p> -->
            </li>
            
           
            <li class="w-33-ns w-100 list center tc ma4 ">
                <img class="center" src="/img/org-logo.svg">
                <!-- <p>Open Rights Group</p> -->
            </li>
            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/mastodonc-logo.png">
                <!-- <p>NHS</p> -->
            </li>
        </ul>
    </section>

        
    {{ partial "mailing-list-form.html" }}

    {{ partial "footer.html" }}


</body>

</html>