<!DOCTYPE html>
<html lang="en">
<title>Product Science</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/tachyons.min.css">

<body class="w-100 sans-serif bg-white">

    {{ partial "header.html" }}

    <section class="bt bb bg-yellow pv3 pl5 pr5">
        <h1 class="f-headline lh-title measure black mt3 mb3">Build Better <br/>Digital Products.</h1>
    </section>

    <section class="pt3  pb2 pl5 pr5">

        <h2 class="f3 lh-title normal measure">You’ve worked hard to get a product out the door, to your users. Now you want to work in a more agile way, and grow a
        high performing team.</h2>
        
        <h2 class="f3 lh-title normal measure">If this sounds like you, I can help you and your product team be more effective in three ways:</h2>

    </section>

    <section class="pv4 pl5 pr5">

        <h3 class="f3 lh-title normal measure-wide"><span class="b">Skills based workshops: </span>Develop new skills, or sharpen existing ones with focussed workshops on a given technique.</h3>

        <h3 class="f3 lh-title normal measure-wide"><span class="b">Process Workshops: </span>Build a shared picture of what your development process <em>really</em> looks like. Diagnose problems together, identify pain points and bottlenecks. Learn to fix them with your team.</h3>

        <h3 class="f3 lh-title normal measure-wide"><span class="b">Interim Generalist: </span>Fill gaps in your team’s capacity, until you have the talent in-house, or you know you need a specialist.</h3>
    </section>
    
    <section class="focussed-workshops pv4 pl5 pr5 bt">

        <h2 class="f2 measure lh-title normal">
            <strong>Skills-focussed workshops:</strong>
            Get up to speed with skills-focussed workshops
        </h2>

        <h4 class="f3 measure-wide lh-title">For when you know there's a gap in your team's skills, and you want a workshop focussed around a particular technique</h4>

        <p class="f4 measure-wide normal lh-title">Skills-focussed workshops give you the chance get confident using a specific technique to help solve a problem you have already identified, so you can start using it right away.</p>
        <p class="f4 measure-wide normal lh-title">Your team gets to practice the technique, avoid common pitfalls, and learns how to operationalise it. It becomes part of your team's arsenal for solving problems in future.</p>

        <p class="f4 measure-wide normal"><strong>Common activities include:</strong> writing effective user stories, lightweight technical documentation with the C4 model and archiectural decision records, usability testing (remote and in-person), customer development interviews, user story mapping, and iteratively building personas.</p>
        <p class="f4 measure-wide normal lh-title"><strong>What this looks like:</strong> These typically range from a half day to a day long, depending on the topic and dpeth</p>


    </section>

    <section class="find-your-bearing pv4 pl5 pr5 bt">
    
        <h2 class="f2 lh-title measure normal">
            <strong>Process mapping workshop:</strong>
            Visualise how you work with a process map, then identify pain points and bottlenecks. Learn to fix them together in your team.
        </h2>

        <h4 class="f3 measure-wide ">For when you're not sure what you need yet, and you want some help thinking through what your process <em>should</em> look like.</h4>

        <p class="f4 measure-wide normal lh-title">You might be starting a new project, or it's been a while since you came up for air on an existing one, and you need the space to see why your current way of working isn't working for your team.

        <p class="f4 measure-wide normal lh-title">Building a process map together creates a shared understanding in your team of your workflow, and helps you identify the most valuable places to improve - so you can see where waste from work piling up is, and so how best to communicate this to other parts of the organisation you depend on.

        <p class="f4 measure-wide normal lh-title">These typically is a day-long workshop, for 5-15 people, with a couple of days either side for preparation, and processing outputs from the day to keep momentum after the day.</p>


    </section>

    <section class="find-your-bearing pv4 pl5 pr5 bt">
    
        <h2 class="f2 lh-title measure normal">
            <strong>Interim Generalist:</strong>
             Fill gaps in your team’s capacity, until you have the talent in-house, or you need a specialist full time.
        </h2>
    
        <h4 class="f3 measure-wide lh-title">For when you need to deliver in an area new to your team, and need to hit the ground running.</h4>
    
        <p class="f4 measure-wide normal lh-title">
            You might not need someone full time to fill a gap in your team's skills, or you might have <em>almost made that perfect hire</em> to plug that gap, but still need to deliver something until they join you.
        </p>
            
        <p class="f4 measure-wide normal lh-title">
             I can help you deliver against that goal in the short term. I've worked as a product manager, a UX designer, user researcher, and developer. I'm happy coding Django and Ruby on Rails applications, and I'm comfortable building service design blueprints, Wardley maps and helping you sanity check your assumptions in them.
        </p>

        <p class="f4 measure-wide normal lh-title">
            <span class="bold">What this looks like: </span>
            you can hire me in 5 day blocks, to join your team for a week at a time, and we'll discuss a specific goal to deliver in that time. You'll get the most value pairing me with someone in your team, so knowledge doesn't leave the team at the end, and do this work without me in future.
        </p>
    
    </section>

    <section class="pv4 pl5 pr5 bt bg-light-gray" id="about">
        <h2 >About Product Science</h2>

        <p class="f3 measure-wide normal lh-title">
            I work through Product Science, my company. I'm based in Berlin. I'm open to travel inside Europe, and working remotely.
        </p>

        <h3>Find out more</h3>

        <h3>Who I've worked with:</h3>
            I've worked with the following companies
        <ul>
            <li class="list">GLA</li>
            <li class="list">DXW</li>
            <li class="list">Uni of Westminster</li>
                
            <li class="list">MastodonC</li>
            <li class="list">Loco2</li>
            <li class="list">NHS</li>
            
            <li class="list">AMEE</li>
            <li class="list">ERASYS</li>
            <li class="list">Thermondo</li>
            
            <li class="list">Red Bull</li>
            <li class="list">Royal Opera House</li>
            <li class="list">Open Rights Group</li>    
        </ul>

    </section>

     {{ partial "mailing-list-form.html" }}

    {{ partial "footer.html" }}


</body>

</html>