<footer class="pv4 pl5 pr5 bt bg-light-gray flex">

    <div class="w-33 pr3">
        <h3 class="f3" id="contact">Contact</h3>
        
        <ul class="pl0">
            <li class="mv2 list"><span class="dib" style="min-width:5rem">email:</span> <a class="black bg-ps-yellow grow dib" href="mailto:hello@productscience.co.uk">hello@productscience.co.uk</a> (or use this form)</li>
            <li class="mv2 list"><span class="dib" style="min-width:5rem">tel:</span> + 44 203 322 5777</li>
            <li class="mv2 list"><span class="dib" style="min-width:5rem">address:</span> 4 Coombe Road, Gravesend, England, DA12 5PB</li>
        </ul>
    </div>

    <div class="w-33 pr3">
        <h3 class="f3">Legal</h3>
    
        <ul class="pl0">
            <!-- <li class="mv2 list"><a class="black bg-ps-yellow grow dib" href="">Privacy Policy</a></li> -->
            <!-- <li class="mv2 list"><a class="black bg-ps-yellow grow dib" href="">General work terms</a></li> -->
            <li class="mv2 list">Product Science is a company registered in England and Wales.</li>
            <li class="mv2 list">Reg. No: 08369027. VAT No: GB163934589</li>
            
        </ul>
    </div>


</footer>