<nav class="pa3 ph5-ns dt ">
    
    <a class="dtc dt v-mid link dim black b f5 f4-ns pr4" href='/' title="Home">
        <img class="v-mid" src="/img/ps-icon.svg" alt="" style="height:4em;">
        <span class="v-mid pl3">
            Product Science
        </span>
    </a>
    <a class="dtc v-mid link dim gray    f5 f4-ns pl4 pr4" href='#about' title="About">About</a>
    <a class="dtc v-mid link dim gray    f5 f4-ns pl4 pr4" href='//medium.com/product-science' title="Blog">Blog</a>
    <a class="dtc v-mid link dim gray    f5 f4-ns pl4 pr4" href='#contact' title="Contact">Contact</a>
</nav>