<!DOCTYPE html>
<html lang="en">
<title>Product Science</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/tachyons.min.css">
<script src="/js/smoothscroll.min.js" charset="utf-8"></script>
<script src="/js/main.js" charset="utf-8"></script>



<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<body class="w-100 sans-serif bg-white">

    {% include "partials/header.njk" %}


    <style>
        .f1, .f2, .f3, .f4, .f5, .f6, .f-headline, h1, h2, h3, h4, h5 {
            font-family:"Lato"
        }
        .bg-ps-yellow{
            background-color:#F5DF43
        }
        .clients li {
            
            /* min-width: 15rem; */
        }
        .clients img {
            max-height: 12rem;
            max-width:  15rem;
        }
    </style>

    <section class="bt bb pv3 pl5 pr5 bg-ps-yellow">
        <h1 class="f-headline-ns f1 lh-title measure black mt3 mb3">Build Better <br/>Digital Products.</h1>
    </section>

    <section class="pt3  pb0 pl5 pr5">

        <h2 class="f3 lh-title normal measure">You’ve worked hard to get a product out the door, to your users. Now you want to work in a more agile way, and grow a
        high performing team.</h2>
        
        <h2 class="f3 lh-title normal measure">If this sounds like you, I can help you and your product team be more effective in two ways:</h2>

    </section>

    <section class="pt0 pb2 pl5 pr5">

        <h3 class="f3 lh-title normal measure-wide">
            <a class="b mr1 bg-ps-yellow black dib pa1 grow" href="#coaching">
                Coaching:
            </a>
            Improve the way you and your team to build your product.
            
            <a class="f5 i dark-red" href="#coaching">
                (more)
            </a>
        </h3>

        <h3 class="f3 lh-title normal measure-wide">
            <a class="b mr1 bg-ps-yellow black dib pa1" href="#capacity">
                Capacity:
            </a>
            Fill gaps in your team’s capacity, until you have the talent in-house, or you know you need a specialist.
        
            <a class="f5 i dark-red" href="#capacity">
                 (more)
            </a>
        </h3>
    </section>
    
    <section class="focussed-workshops pv4 pl5 pr5 bt" id="coaching">

        <h2 class="f2 measure lh-title normal">
            <strong>Coaching:</strong>
             Improve the way you and your team to build your product. 
        </h2>

        <h4 class="f3 measure-wide lh-copy">
            For when you're not getting value from your retrospectives, or you're not finding time to think about your process.
        </h4>

        <p class="f4 measure-wide normal lh-copy">
            <strong class="b">What this looks like:</strong>
            This can be as simple as having me run retrospectives with you and your team a few times a month.
        </p>

        <p class="f4 measure-wide normal lh-copy">
            I come in and run various activities to help you and your team to reflect on their process. Together we come up with improvements to help address issues.
        </p>
        <p class="f4 measure-wide normal lh-copy">
            If you need more, I'm an experienced workshop facilitator, and can design a set of activities with you to address the needs of your team and stakeholders.
        </p>

         <a 
            class="f4 grow ph3 pv3 mb2 b dib black bg-ps-yellow"
            href="https://docs.google.com/forms/d/e/1FAIpQLScbjYECgy_vQ5RiH6nxike2fH28svgmB3u0JANgGlUafMNjdQ/viewform" >
            Contact me about coaching
         </a>

    </section>

    <section class="find-your-bearing pv4 pl5 pr5 bt" id="capacity">
    
        <h2 class="f2 lh-title measure normal">
            <strong>Capacity:</strong>
             Fill gaps in your team’s capacity, until you have the talent in-house, or you need a specialist full time.
        </h2>
    
        <h4 class="f3 measure-wide lh-title">For when you need to deliver in an area new to your team, and need to hit the ground running.</h4>
    
        <p class="f4 measure-wide normal lh-copy">
            You might not need someone full-time to fill a gap in your team's skills.
        </p>
            
        <p class="f4 measure-wide normal lh-copy">
            Or you might have <em>almost made that perfect hire</em> to plug that gap, but still need to deliver something in the meantime.
        </p>

        <p class="f4 measure-wide normal lh-copy">
             I can help you deliver against your goals in the interim.
        </p>     

        <p class="f4 measure-wide normal lh-copy">
             I've worked as a product manager, a UX designer, user researcher, and I've been coding Django and Ruby on Rails applications professionally since 2009 and 2011 respectively.
        </p>
             
        <p class="f4 measure-wide normal lh-copy">
             I'm also comfortable building wireframes, service design blueprints, and Wardley maps, and know when it makes sense use them, and when other tools might be more appropriate.
        </p>

        <p class="f4 measure-wide normal lh-copy">
            <strong>What this looks like: </strong>
            typically, I'd join your team for a week at a time. We'll discuss a specific goal to deliver in that time, and if you're happy with continuing, we can go from there. I'm open to longer projects.</p>

        <p class="f4 measure-wide normal lh-copy">
            I work best in a cross functional team, and you'll typically get the most value pairing me with someone in your team.
        </p>
        <p class="f4 measure-wide normal lh-copy">
             This so knowledge doesn't leave the team at the end, and so you can do the same kinds of work without me in future.
        </p>
    
        <a 
            class="f4 grow ph3 pv3 mb2 b dib black bg-ps-yellow"
            href="https://docs.google.com/forms/d/e/1FAIpQLSeji5cscJrtGoQTzFqTG835U8jlekYsW8scxS3fmmQPwTPEqA/viewform">
            Let's talk about working together   
        </a>


    </section>

    <section class="pv4 pl5 pr5 bt bg-light-gray" id="about">
        <h2 >About me, and Product Science</h2>

        <p class="f3 measure-wide normal lh-copy">
            I work through Product Science, my company.
            I'm based in Berlin, but open to travel inside Europe, and happy working remotely. You can find me on
            <a class="pa1 grow b dib black bg-ps-yellow"href="https://github.com/mrchrisadams/">github</a>,
            <a class="pa1 grow b dib black bg-ps-yellow"href="linkedin.com/in/mrchrisadams/">linkedin</a>, and
            <a class="pa1 grow b dib black bg-ps-yellow"href="https://twitter.com/mrchrisadams">twitter</a>.
        </p>

        <a href="https://medium.com/product-science" class="f4 grow ph3 pv3 mb2 b dib black bg-ps-yellow mr4">
            Read the Product Science blog on medium
        </a>
        <a href="#method" class="f4 grow ph3 pv3 mb2 b dib black bg-ps-yellow">
            Find out about Method, the Product Science newsletter
        </a>

    </section>
    
    <section class="pv4 pl5 pr5 bt bg-white" id="clients">

        <h3>Who I've worked with:</h3>

        <p class="f4 measure-wide normal lh-copy">
            I've worked with tiny companies, making paper prototypes and building proof of concepts to raise initial funding, through to huge organisations where internal politics can be as important to the success of a product as the features built into it.</p>
        <p class="f4 measure-wide normal lh-copy">
            Below is a selection of organisations I've worked with:
        </p>
        <ul class="flex flex-wrap pa0 dt clients items-center ">

            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/gla-logo.png">
                 <!-- <p>GLA</p> -->
            </li>
            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/dxw-logo.svg">
                <!-- <p>DXW</p> -->
            
            </li>
            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/westminster-university-logo.jpg">
                <!-- <p>University of Westminster</p> -->
            </li>

            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/mastodonc-logo.png" >
                <!-- <p>MastodonC</p> -->
            </li>
            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/loco2-logo.png" >
                <!-- <p>Loco2</p> -->
                </li>
            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/amee-logo.png">
                <!-- <p>AMEE</p> -->
            </li>
            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/redbull-logo.jpg">
                <!-- <p>Red Bull</p> -->
            </li>
            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/thermondo-logo.jpeg">
                <!-- <p>Thermondo</p> -->
            </li>
            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/roh-logo.png">
                <!-- <p>Royal Opera House</p> -->
            </li>
            <li class="w-33-ns w-100 list center tc ma4">
                <img class="center" src="/img/erasys-logo.png">
                <!-- <p>ERASYS</p> -->
            </li>
            
           
            <li class="w-33-ns w-100 list center tc ma4 ">
                <img class="center" src="/img/org-logo.svg">
                <!-- <p>Open Rights Group</p> -->
            </li>

        </ul>
    </section>

    {% include "partials/mailing-list-form.njk" %}
    {% include "partials/footer.njk" %}

</body>

</html>