<footer class="pv4 pl5 pr5 bt bg-light-gray cf">

    <div class="w-40-ns w-100 pr3 cl">
        <h3 class="f3" id="contact">Contact</h3>
        
        <ul class="pl0">
            <li class="mv2 list"><span class="dib" style="min-width:5rem">email:</span> 
                <a class="black bg-ps-yellow grow dib" href="mailto:hello@productscience.co.uk">hello@productscience.co.uk</a>
                <a class="black bg-ps-yellow grow dib mv2" href="https://docs.google.com/forms/d/e/1FAIpQLSfW7FtPkVTogMwJMpSRhIbMFU3lk0IXOqzzGQndaBhi-SaxjA/viewform">(or use this form</a>)</li>
            <li class="mv2 list"><span class="dib" style="min-width:5rem">tel:</span> + 44 203 322 5777</li>
        </ul>
    </div>

    <div class="w-40-ns w-100 pr3 cl">
        <h3 class="f3">Legal</h3>

        <ul class="pl0">
            <li class="mv2 list"><a class="black bg-ps-yellow grow dib" href="/privacy">Privacy Policy</a></li>
            <li class="mv2 list"><a class="black bg-ps-yellow grow dib" href="http://contracts.productscience.co.uk/">General work terms</a></li>
            <li class="mv2 list">Copyright Product Science Germany 2019</li>

        </ul>
    </div>


</footer>