<nav class="pa3 ph5-ns ph4 dt">
    <a class="dtc dt v-mid link dim black b f5 f4-ns pr4-ns dib" style="min-width:13em;" href='/' title="Home">
        <img class="v-mid" src="/img/ps-icon.svg" alt="" style="height:4em;">
        <span class="v-mid pl3-ns dib pa2">
            Product Science
        </span>
    </a>
    <a class="dtc v-mid link dim gray f5 f4-ns ph4-ns ph2" href='/#about' title="About">About</a>
    <a class="dtc v-mid link dim gray f5 f4-ns ph4-ns ph2" href='//medium.com/product-science' title="Blog">Blog</a>
    <a class="dtc v-mid link dim gray f5 f4-ns ph4-ns ph2" href='/#contact' title="Contact">Contact</a>
</nav>